body {
--vamtam-body-link-regular:#0A1E33;
--vamtam-body-link-visited:#0A1E33;
--vamtam-body-link-hover:#E46A4B;
--vamtam-body-link-active:#E46A4B;
--vamtam-input-border-radius:4px 4px 4px 4px;
--vamtam-input-border-color:#DFE7E8;
--vamtam-btn-text-color:#FFFFFF;
--vamtam-btn-hover-text-color:#FFFFFF;
--vamtam-btn-bg-color:#E46A4B;
--vamtam-btn-hover-bg-color:#0A1E33;
--vamtam-site-max-width:1260px;
--vamtam-primary-font-color:#0A1E33;
--vamtam-h1-color:#0A1E33;
--vamtam-h2-color:#0A1E33;
--vamtam-h3-color:#0A1E33;
--vamtam-h4-color:#0A1E33;
--vamtam-h5-color:#0A1E33;
--vamtam-h6-color:#0A1E33;
--vamtam-accent-color-1:#E46A4B;
--vamtam-accent-color-1-hc:#FFFFFF;
--vamtam-accent-color-1-rgb:228,106,75;
--vamtam-accent-color-2:#99B8BA;
--vamtam-accent-color-2-hc:#000000;
--vamtam-accent-color-2-rgb:153,184,186;
--vamtam-accent-color-3:#0A1E33;
--vamtam-accent-color-3-hc:#FFFFFF;
--vamtam-accent-color-3-rgb:10,30,51;
--vamtam-accent-color-4:#F7F7F7;
--vamtam-accent-color-4-hc:#000000;
--vamtam-accent-color-4-rgb:247,247,247;
--vamtam-accent-color-5:#FFFFFF;
--vamtam-accent-color-5-hc:#000000;
--vamtam-accent-color-5-rgb:255,255,255;
--vamtam-accent-color-6:#000000;
--vamtam-accent-color-6-hc:#FFFFFF;
--vamtam-accent-color-6-rgb:0,0,0;
--vamtam-accent-color-7:#DFE7E8;
--vamtam-accent-color-7-hc:#000000;
--vamtam-accent-color-7-rgb:223,231,232;
--vamtam-accent-color-8:#E7EEEF;
--vamtam-accent-color-8-hc:#000000;
--vamtam-accent-color-8-rgb:231,238,239;
--vamtam-sticky-header-bg-color:#FFFFFF;
--vamtam-primary-font-font-family:'Catamaran';
--vamtam-primary-font-font-weight:normal;
--vamtam-primary-font-font-size-desktop:14px;
--vamtam-primary-font-font-size-tablet:14px;
--vamtam-primary-font-font-size-phone:16px;
--vamtam-primary-font-line-height-desktop:1.6;
--vamtam-primary-font-line-height-tablet:1.6;
--vamtam-primary-font-line-height-phone:1.5;
--vamtam-h1-font-family:'Catamaran';
--vamtam-h1-font-weight:800;
--vamtam-h1-transform:none;
--vamtam-h1-font-size-desktop:52px;
--vamtam-h1-font-size-tablet:34px;
--vamtam-h1-font-size-phone:28px;
--vamtam-h1-line-height-desktop:1;
--vamtam-h1-line-height-tablet:1;
--vamtam-h1-line-height-phone:1;
--vamtam-h2-font-family:'Catamaran';
--vamtam-h2-font-weight:bold;
--vamtam-h2-font-style:normal;
--vamtam-h2-transform:none;
--vamtam-h2-font-size-desktop:36px;
--vamtam-h2-font-size-tablet:30px;
--vamtam-h2-font-size-phone:24px;
--vamtam-h2-line-height-desktop:1.2;
--vamtam-h2-line-height-tablet:1.1;
--vamtam-h2-line-height-phone:1.3;
--vamtam-h3-font-family:'Catamaran';
--vamtam-h3-font-weight:bold;
--vamtam-h3-transform:none;
--vamtam-h3-font-size-desktop:22px;
--vamtam-h3-font-size-tablet:20px;
--vamtam-h3-font-size-phone:18px;
--vamtam-h3-line-height-desktop:1.3;
--vamtam-h3-line-height-tablet:1.1;
--vamtam-h3-line-height-phone:1.1;
--vamtam-h4-font-family:'Catamaran';
--vamtam-h4-font-weight:bold;
--vamtam-h4-transform:none;
--vamtam-h4-font-size-desktop:18px;
--vamtam-h4-font-size-tablet:18px;
--vamtam-h4-font-size-phone:17px;
--vamtam-h4-line-height-desktop:1.4;
--vamtam-h4-line-height-tablet:1.4;
--vamtam-h4-line-height-phone:1.4;
--vamtam-h5-font-family:'Catamaran';
--vamtam-h5-font-weight:bold;
--vamtam-h5-font-size-desktop:14px;
--vamtam-h5-font-size-tablet:14px;
--vamtam-h5-font-size-phone:14px;
--vamtam-h5-line-height-desktop:1.1;
--vamtam-h5-line-height-tablet:1.1;
--vamtam-h5-line-height-phone:1.1;
--vamtam-h5-letter-spacing-tablet:0px;
--vamtam-h5-letter-spacing-phone:0px;
--vamtam-h6-font-family:'Catamaran';
--vamtam-h6-font-weight:normal;
--vamtam-h6-transform:uppercase;
--vamtam-h6-font-size-desktop:12px;
--vamtam-h6-font-size-tablet:10px;
--vamtam-h6-font-size-phone:10px;
--vamtam-h6-line-height-desktop:1.3;
--vamtam-h6-line-height-tablet:1;
--vamtam-h6-line-height-phone:1;
--vamtam-h6-letter-spacing-desktop:2px;
--vamtam-h6-letter-spacing-tablet:2px;
--vamtam-h6-letter-spacing-phone:2px;
--vamtam-icon-instagram:'\e923';
--vamtam-icon-privacy:'\e922';
--vamtam-icon-close:'\e921';
--vamtam-icon-pin-map:'\e91f';
--vamtam-icon-gift-card:'\e919';
--vamtam-icon-hands:'\e91a';
--vamtam-icon-pin:'\e91b';
--vamtam-icon-pullover:'\e91c';
--vamtam-icon-reward:'\e91d';
--vamtam-icon-star-drawn:'\e91e';
--vamtam-icon-truck:'\e905';
--vamtam-icon-envelop:'\e90b';
--vamtam-icon-clock:'\e904';
--vamtam-icon-heart:'\e908';
--vamtam-icon-flower:'\e906';
--vamtam-icon-cloud:'\e90a';
--vamtam-icon-user:'\e900';
--vamtam-icon-barcode:'\e90f';
--vamtam-icon-comments:'\e910';
--vamtam-icon-credit-locked:'\e911';
--vamtam-icon-delivery-fast:'\e912';
--vamtam-icon-email:'\e913';
--vamtam-icon-headset:'\e914';
--vamtam-icon-play:'\e916';
--vamtam-icon-rate:'\e917';
--vamtam-icon-shop:'\e918';
--vamtam-icon-favorite:'\e907';
--vamtam-icon-favorite-fill:'\e909';
--vamtam-icon-basket:'\e903';
--vamtam-icon-search:'\e90c';
--vamtam-icon-arrow-left-1:'\e90d';
--vamtam-icon-arrow-right-1:'\e90e';
--vamtam-icon-arrow-top:'\e920';
--vamtam-icon-arrow-left:'\e901';
--vamtam-icon-arrow-right:'\e902';
--vamtam-form_field_border_border:solid;
--vamtam-form_field_border_width:1px 1px 1px 1px;
--vamtam-form_field_border_radius:4px 4px 4px 4px;
--vamtam-form_field_padding:15px 15px 15px 15px;
--vamtam-form_label_typography_font_family:Catamaran;
--vamtam-form_label_typography_font_weight:bold;
--vamtam-form_field_typography_font_family:Catamaran;
--vamtam-form_field_typography_font_size:14px;
--vamtam-form_field_typography_font_weight:300;
--vamtam-form_field_typography_line_height:1.6em;
--vamtam-form_field_background_color:#FFFFFF;
--vamtam-form_field_focus_border_border:solid;
--vamtam-form_field_focus_text_color:#0A1E33;
--vamtam-form_field_focus_background_color:#FFFFFF;
--vamtam-form_field_border_color:#DFE7E8;
--vamtam-form_field_focus_border_color:#99B8BA;
--vamtam-form_field_border_width_tablet:1px 1px 1px 1px;
--vamtam-form_label_color:#0A1E33;
--vamtam-form_field_typography_font_size_mobile:16px;
--vamtam-form_field_typography_line_height_mobile:1.5em;
--vamtam-form_field_text_color:#0A1E3380;
--vamtam-form_field_typography_text_transform:none;
--vamtam-form_field_typography_font_style:normal;
--vamtam-form_field_typography_text_decoration:none;
--vamtam-form_field_typography_letter_spacing:px;
--vamtam-form_field_typography_word_spacing:px;
}